.ctrl-btn{
    margin:1em;
    width:5em !important;
    font-weight: bold;
}

.display {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.fp-video {
    border:solid 1px lightgray;
    border-radius:5px;
    text-align:center;
    width: 100%;
    height: 350px;
}

.lines {
   width: 25px;
   height: 3px;
   background: #596778;
   display: block;
   position: absolute;
   top: 50%;
   left: 50%;
   margin-left: -12.5px;
   margin-top: -1.5px;
   -webkit-transition: -webkit-transform 200ms;
   transition: -webkit-transform 200ms;
   transition: transform 200ms;
   transition: transform 200ms, -webkit-transform 200ms;
}

.line-1 {
   -webkit-transform: translate3d(0, -8px, 0);
   transform: translate3d(0, 0, 0) rotate(90deg);
}

.line-2 {
   -webkit-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
}


.disable-btn{
    pointer-events: none;
}

svg{
  margin: 10px;
  width: 100px;
  height: 100px;
  cursor: pointer;
  &::-moz-focus-inner {
        border: 0;
    }
}
svg:active {
    transition: transform 0.15s linear;
    transform: scale(1.1);
}

body {
    background-color: #253F51;
}

polygon,
path{
  /*fill: #3b966c*/
  fill: #1973B5
}

.direction-input{
    width:40px;
    text-align: center;
    margin-left:20px !important;
    margin-right:20px !important;
    margin-top:7px;
    background-color: lightslategray;
    color: azure;
    &:focus{
        background-color: lightslategray;
        color: azure;
        border-color: #a2b7cd;
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgba(143, 183, 227,.25);
    }
    box-shadow:0 0 0 0.25rem rgba(68,110,155,.25);
    border-color: #a2b7cd;
    border-radius:5px;
}

#direction-value{
    margin-right:5px !important;
    margin-top:8px !important;
}

span {
  content: "\21B7";
}

.symbol{
    font-weight: 10;
    text-align: center;
    font-size: 5vw;
    line-height: 57%;
    /*color: #3b966c; green*/
    color: #1973B5;
    cursor: pointer;
    text-shadow: 5px 1px 8px rgba(62, 106, 168, .8);
    &:active {
      color: #04538c;
      font-weight: 10;
      text-align: center;
      font-size: 5.25vw;
      line-height: 37%;
  }
}

.lift-btn{
    width:40px;
    height:60px;
    cursor: pointer;
    padding-right:5px;
    &:active{
        height:55px;
    }
}

.btn-circle{
    width: 90px;
    height: 35px;
    border-radius: 8px;
    font-size: 10px;
    text-align: center;
    font-weight: bold;
    font-size:11px;
    margin: 3px;
}

.label-lb{
    font-size:13px;
    font-weight:bold;
}

.input-data{
    width:150px;
    height:35px;
    margin-left:1em;
    float:right;
    margin-right:5px;
    background-color: lightslategray;
    color: azure;
    &:focus{
        background-color: lightslategray;
        color: azure;
    }
    ::-webkit-input-placeholder{
        color: azure;
        opacity: 1;
    }
}

.clamp{
     height: 40px;
     width: 30px;
}
/*

#joystick {
  height: 200px;
  width: 200px;
  border-radius: 225px;
  -moz-border-radius: 300px;
  -webkit-border-radius: 300px;
  text-align: center;
  background-color: #80d5ff;
  font: 24px/300px Helvetica, Arial, sans-serif;
  cursor: all-scroll;
  user-select: none;
  z-index: -100;
}

.direction-button{
    height: 70px !important;
    width: 70px !important;
}*/

#controller-values-display {
  width: 100%;
  text-align:left
}

#base-container {
  width: 9rem;
  height: 9rem;
  background-image: radial-gradient(transparent, #d5d8dc);
  border: 0.15rem solid #abb2b9;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /*background: radial-gradient(at 75% 75%, darken(#fff,5) 0%, darken(#fff,15) 100%);*/
  transform-style: preserve-3d;
  box-shadow: inset -5px -10px 40px rgba(171, 178, 185,.75),
    inset 0 .25em .125em rgba(255,255,255,.3),
    inset 0 -.25em .125em rgba(0,0,0,.3);
    0 0 .25em rgba(0,0,0,.9),
    0px 0px 10px rgba(128, 139, 150,.75);
  #stick-area {
    background: radial-gradient(at 50% 75%, #f2f2f2 0%, #d9d9d9 100%);
    box-shadow: inset 5px 5px 10px rgba(255, 255, 255, 0.3), inset -5px -5px 10px rgba(0, 0, 0, 0.15), 0 2px 10px -5px rgba(0, 0, 0, 0.7), 0 4px 20px -10px rgba(0, 0, 0, 0.2), -50px 0 40px -20px rgba(0, 0, 0, 0.2), 50px 50px 40px -20px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 2;
    height: 50%;
    width: 50%;
    border-radius: 50%;
    /*top: 50%;
    left: 50%;*/
    margin: -25% -25%;
    transition: 200ms ease all;
  }
  .joystick__ball{
      background: radial-gradient(at 25% 25%, #eaecee 0%, #d9d9d9 100%);
      position:absolute;
      height: 80%;
      width: 80%;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform:translate(-50%,-50%);
      transform-style: preserve-3d;
      perspective: 1000px;
      box-shadow: inset -5px -10px 40px rgba(0, 0, 0, 0.05), inset 0px 0px 10px rgba(0, 0, 0, 0.3), inset 0px 0px 5px rgba(0, 0, 0, 0.5), inset 0px 0px 3px 1px rgba(0, 0, 0, 0.51), 0px 0px 10px rgba(0, 0, 0, 0.3);
  }
}

/*#base-container::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  background: radial-gradient(at 25% 25%, #f2f2f2 0%, #d9d9d9 100%);
  border-radius: 50%;
  -webkit-filter: blur(1px);
  transform-origin: 50% 100%;
}*/

.joystick{
    text-align: right;
    p{
        font-size:10px;
        font-weight: bold;
    }
}

.shadow-custom{
    box-shadow: 5px 5px 10px rgba(233, 233, 242, 0.5);
}


.btn-red {
    background: transparent;
    background: #c20313;
    color: #fff;
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 16px;
    text-transform: uppercase;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    text-shadow: 0 -1px 0 rgba(194, 3, 19, 0.5);
    transform: rotateX(-20deg) perspective(1000px);
    box-shadow: 0 10px 0 #8a0813;

    &:active {
      cursor: pointer;
      transform: rotateX(-20deg) translateY(5px);
      transition:
        background .2s ease,
        box-shadow .2s ease;
      background: lighten(#c20313, 5%);
      box-shadow: 0 5px 0 #8a0813;
    }
}

.direction-checkbox{
    float: left;
}

.nav-link{
    color: black !important;
    font-size:15px !important;
}

.active .nav-link{
    color: white !important;
}
.menu-item, .menu-open-button {
   background: #EEEEEE;
   border-radius: 100%;
   width: 44px;
   height: 44px;
   margin-left: -40px;
   padding-top: 14px;
   position: absolute;
   color: #FFFFFF;
   text-align: center;
   line-height: 10px;
   -webkit-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
   -webkit-transition: -webkit-transform ease-out 200ms;
   transition: -webkit-transform ease-out 200ms;
   transition: transform ease-out 200ms;
   transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
   border : solid 1px lightgray
}


.navbar-mainbg{
	background-color: #FFFFFF;
	padding: 1em 1em 0em 1em;
}
#navbarSupportedContent{
	overflow: hidden;
	position: relative;
}
#navbarSupportedContent ul{
	padding: 0px;
	margin: 0px;
}
#navbarSupportedContent ul li a i{
	margin-right: 10px;
}
#navbarSupportedContent li {
	list-style-type: none;
	float: left;
}
#navbarSupportedContent ul li a{
	color: rgba(255,255,255,0.5);
    text-decoration: none;
    font-size: 15px;
    display: block;
    padding: 20px 20px;
    transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: relative;
}
#navbarSupportedContent>ul>li.active>a{
	color: #624634;
	background-color: transparent;
	transition: all 0.7s;
}
#navbarSupportedContent a:not(:only-child):after {
	content: "\f105";
	position: absolute;
	right: 20px;
	top: 10px;
	font-size: 14px;
	font-family: "Font Awesome 5 Free";
	display: inline-block;
	padding-right: 3px;
	vertical-align: middle;
	font-weight: 900;
	transition: 0.5s;
}
#navbarSupportedContent .active>a:not(:only-child):after {
	transform: rotate(90deg);
}
.hori-selector{
	display:inline-block;
	position:absolute;
	height: 100%;
	top: 0px;
	left: 0px;
	transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	background-color: #253F51;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
.hori-selector .right,
.hori-selector .left{
	position: absolute;
	width: 25px;
	height: 25px;
	background-color: #253F51;
	bottom: 0px;
	color: #FFFFFF
}
.hori-selector .right{
	right: -25px;
}
.hori-selector .left{
	left: -25px;
}
.hori-selector .right:before,
.hori-selector .left:before{
	content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
}
.hori-selector .right:before{
	bottom: 0;
    right: -25px;
}
.hori-selector .left:before{
	bottom: 0;
    left: -25px;
}



.stop-btn{
    width: 60px; !important
}

.the-button {
  border-radius: 50%;
  box-shadow: 0 0 .5em rgba(0,0,0,1),
    inset 0 .25em .3em rgba(255,255,255,.3),
    inset 0 -.25em .3em rgba(0,0,0,.5);
  cursor: pointer;
  font: inherit;
  color:#fff;
  height: 100%;
  padding: 10px;
  position: relative;
  width: 100%;
}

.the-button:before {
  background: linear-gradient(to bottom,
    rgba(255,255,255,0.14) 0%,
    rgba(255,255,255,0) 50%,
    rgba(255,255,255,0) 100%);
  border-radius: 50%;
  content: "STOP";
  height: 60%;
  left: 20%;
  position: absolute;
  top: 28%;
  width: 60%;
}

.the-button:active {
  box-shadow: 0 0 .5em rgba(0,0,0,1),
    inset 0 .1em .3em rgba(0,0,0,.5),
    inset 0 -.1em .3em rgba(0,0,0,.5);
}

.the-button:active:before {
  top: 27%;
}

.button-frame {
  background: #cc0000;
  border-radius: 50%;
  box-shadow: 0 0 2em rgba(245, 228, 184,.75),
    0 0 2em rgba(245, 228, 184,.75),
    0 0 .25em rgba(0,0,0,.9),
    inset 0 .25em .125em rgba(255,255,255,.3),
    inset 0 -.25em .125em rgba(0,0,0,.3);
  display: block;
  height: 4.8em;
  margin: -3.4em auto 0;
  padding: .55em;
  position: relative;
  top: 50%;
  width: 4.8em;
  z-index: 20;
  float: right;
  margin-top: auto;
}

.plastic {
  background: linear-gradient(to bottom,  #b01e1e 0%,#920f0f 100%);
}

.direction{
    --h: 4em;
    margin: 0.5em;
    border: solid 0.375em transparent;
    padding: calc(0.375em + 2px);
    width: var(--w, var(--h));
    height: var(--h);
    border-radius: var(--r, 50%);
    box-shadow: inset 0 0 0 2px #060606;
    background: linear-gradient(#bfbfbf, #fff) content-box, linear-gradient(#fff, #979797) padding-box, linear-gradient(#969696, #fbfbfb) border-box;
    font: inherit;
    transition: 0.7s;
    cursor: pointer;
}

.direction:hover {
  outline: solid 0 transparent;
  filter: sepia(2) hue-rotate(180deg);
}

.direction:active {
  border-width: calc(0.375em + 2px) 0.375em calc(0.375em - 2px);
  }
